{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:run_proxy_checker' %}" class="btn btn-high btn-success">Check proxy</a>
    </li>
    {{ block.super }}
{% endblock %}
