{% load i18n booking_extras %}

{% if booking_objects %}
    {% regroup booking_objects by booking_task as booking_task_list %}
    {% for booking_task in booking_task_list %}
        <div class="card mb-2">
            <div class="card-header">
                Booking task #{{ booking_task.grouper.id }}
                <small class="text-muted">
                  Created at: {{ booking_task.grouper.created_at }}
                  {% if request.user.is_superuser %}User: <a href="{% url 'admin:users_user_change' booking_task.grouper.user.pk %}" target="_blank">{{ booking_task.grouper.user }}</a>{% endif %}
                </small>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        {% for booking_obj in booking_task.list %}
                            {% if booking_obj|classname == "Insurance" %}
                                <tr>
                                    <td>{{ booking_obj }}</td>
                                    <td><a href="{% url 'booking:render_insurance_template' booking_obj.pk %}" target="_blank">PDF file</a></td>
                                    <td></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ booking_obj.get_html_info|safe }}</td>
                                    <td width="30%">
                                        {% if booking_obj.status == booking_obj.TASK_SUCCESS_STATUS %}
                                            {{ booking_obj.get_results_html_info|safe }}
                                        {% elif booking_obj.status == booking_obj.TASK_FAILED_STATUS %}
                                            {% for task_error in booking_obj.task_errors.all %}
                                                <p>{{ task_error.message }}</p>
                                            {% endfor %}
                                            {% with booking_obj|content_type as ctype %}
                                                <a href="{%  url 'booking:booking_object_task_errors_detail' ctype.pk booking_obj.pk %}" target="_blank">Open details</a>
                                            {% endwith %}
                                        {% endif %}
                                    </td>
                                    <td class="text-right" width="10%">
                                        <span style="width: 100%;" class="badge {{ booking_obj.status|status_badge_css_class }}">{{ booking_obj.get_status_display }}
                                        </span>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
</table>
{% else %}
    <p class="text-center">Here you will see your booking tasks...</p>
{% endif %}

{% if booking_objects.has_other_pages %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="navigation" class="ptb-3">
                <ul class="pagination host-pagination">
                    {% if booking_objects.has_previous %}
                        <li class="page-item">
                            <a href="#" data-page="{{ booking_objects.previous_page_number }}"
                               class="page-link previous">&lsaquo;&lsaquo; {% trans "Previous" %}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link previous">&lsaquo;&lsaquo; {% trans "Previous" %}</span>
                        </li>
                    {% endif %}

                    {% if booking_objects.number|add:'-4' > 1 %}
                        <li class="page-item"><a href="#" data-page="{{ booking_objects.number|add:'-5' }}"
                                                 class="page-link">&hellip;</a></li>
                    {% endif %}

                    {% for page in booking_objects.paginator.page_range %}
                        {% if page == booking_objects.number %}
                            <li class="page-item active">
                                <span class="page-link">{{ page }}</span>
                            </li>
                        {% elif page > booking_objects.number|add:'-5' and page < booking_objects.number|add:'5' %}
                            <li class="page-item">
                                <a href="#" data-page="{{ page }}" class="page-link">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if booking_objects.paginator.num_pages > booking_objects.number|add:'4' %}
                        <li class="page-item"><a href="#" data-page="{{ booking_objects.number|add:'5' }}"
                                                 class="page-link">&hellip;</a></li>
                    {% endif %}

                    {% if booking_objects.has_next %}
                        <li class="page-item">
                            <a href="#" data-page="{{ booking_objects.next_page_number }}"
                               class="page-link previous">›› {% trans "Next" %}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link next">›› {% trans "Next" %}</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
