{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <div class="row">
        <div class="col-12 text-right">
            <div class="pt-2">
                <a class="btn btn-success" href="{% url 'booking:create_booking_task' %}">Add task</a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12" id="booking-tasks-container"></div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/booking_tasks.js' %}"></script>
{% endblock %}
