{% load i18n %}
{% load crispy_forms_tags %}

<div class="card mb-2">
    <div class="card-header">
        Booking
    </div>
    <div class="card-body">
        <form data-type="booking_registry">
            {% crispy form %}
        </form>
    </div>
</div>
