{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'booking:booking_tasks' %}">Task list</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add task</li>
      </ol>
    </nav>

    <div class="row" id="main-form-loader" style="display: none;">
        <div class="col-12">
            <div class="loader mx-auto"></div>
            <p class="text-center">
                Submitting data...
            </p>
        </div>
    </div>

    <div class="row" id="main-form-success" style="display: none;">
        <div class="col-12 text-center">
            <img src="{% static "images/checked.png" %}" class="img-responsive">
            <p>
                Success. Redirecting to task list...
            </p>
        </div>
    </div>

    <div id="main-form-wrapper">
        <div class="row">
            <div class="col-12" id="personForms">
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="chainForms">

            </div>
        </div>
        <div class="row">
            <div class="col-12" id="insuranceForms">

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="float-right mb-4">
                    <div class="loader mx-auto mr-2" id="add-form-loader"></div>
                    <div class="btn-group mr-2">
                        <button class="btn btn-secondary" type="button" id="addPersonButton">
                            Add person
                        </button>
                    </div>
                    <div class="btn-group mr-2">
                        <button class="btn btn-secondary" type="button" id="addInsuranceButton">
                            Add insurance
                        </button>
                    </div>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                    id="addFlightDropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add flight
                            </button>
                            <div class="dropdown-menu" aria-labelledby="addFlightDropdownMenuButton">
                                <a class="dropdown-item" data-val="KLM"
                                   href="#">KLM Royal Dutch Airlines</a>
                                <a class="dropdown-item" data-val="Biletix"
                                   href="#">Biletix</a>
                              <a class="dropdown-item" data-val="S7"
                                   href="#">S7 Airlines</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                    id="addHomeDropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add Home
                            </button>
                            <div class="dropdown-menu" aria-labelledby="addHomeDropdownMenuButton">
                                <a class="dropdown-item" data-val="Booking"
                                   href="#">Booking</a>
                                <a class="dropdown-item" data-val="Ostrovok"
                                   href="#">Ostrovok</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" id="submitForm">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/change_booking_task.js' %}?v=1"></script>
{% endblock %}
