{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'booking:booking_tasks' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Task error #{{ object.id }}</li>
      </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="messages-tab" data-toggle="tab" href="#messages" role="tab"
                       aria-controls="messages" aria-selected="true">
                        Messages
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="traceback-tab" data-toggle="tab" href="#traceback" role="tab"
                       aria-controls="messages" aria-selected="true">
                        Traceback
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="screenshot-tab" data-toggle="tab" href="#screenshot" role="tab"
                       aria-controls="messages" aria-selected="true">
                        Images
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="taskErrorTabContent">
                <div class="tab-pane fade show active" id="messages" role="tabpanel" aria-labelledby="home-tab">
                    {% for task_error in object.task_errors.all %}
                        {% if task_error.message %}
                            <p>
                                {{ task_error.message }}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="traceback" role="tabpanel" aria-labelledby="traceback-tab">
                    {% for task_error in object.task_errors.all %}
                        {% if task_error.exec_info %}
                            <pre>
                                <code class="python">
                                    {{ task_error.exec_info }}
                                </code>
                            </pre>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="screenshot" role="tabpanel" aria-labelledby="screenshot-tab">
                <div class="row">
                    {% for task_error in object.task_errors.all %}
                        {% if task_error.screenshot %}
                            <div class="col-4">
                                <div class="card mb-4">
                                    <div style="height: 120px; overflow-y: hidden;">
                                        <a href="{{ task_error.screenshot.url }}" target="_blank">
                                            <img src="{{ task_error.screenshot.url }}" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">{{ task_error.screenshot }}</h6>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.last %}{% endif %}
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
