{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:restart_booking_tasks_view' %}" class="btn btn-high btn-success">Restart booking tasks</a>
    </li>
    {{ block.super }}
{% endblock %}
